* {
    text-align: center;
    background-color: darkblue;
}

h1 {
    color: yellow;
    font-size: 500%;
    margin: 20%;
}

button {
    color: yellow;
    border-color: yellow;
    font-size: 200%;
}

console.log